.project-div{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.project-title{
    margin-top: 20%;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    height: 10vh;
    width: 100%;
    /* background-color: red; */
}
.project-title {
    position: relative;
    line-height: 1.2em;
}

.project-title:before{   
    position: absolute;
    left: 20%;
    top: 1.2em;
    height: 0;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    content: '';
    border-top: 3px solid #059DC0;
  
}

.project-work{
    margin-top: 5%;
    height: 60vh;
    width: 70%;
    display: flex;
    justify-content: space-between;
    /* padding: 2%; */
    
}

.rest-div{
    height: 50vh;
    width: 40%;
    border: 3px solid #059DC0;
    border-radius: 20px;
    text-align: center;
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden; 
}

.icon1{
    height: 260px;
    width: 210px;
}

.rest-div:hover .rest-div{
    transform: rotateY(180deg);
}

.rest-back {
    position: relative;
    background-color: orange;
    transform: rotateY(180deg);
}