.row{
    justify-content: center;
    display: flex;
    padding: 0.5rem;
    align-items: center;

}
.row p{
    text-align:center;
    padding-left: 5px;
    font-size: 1em;
    /* width: 40%; */
    height: 60%;
    width:40%;
    
    
}

.footer{
    margin-top: 200px;
    position: relative;
    padding: 8rem 0;
    width: 100%;
    background-color: black;
}

.center{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}
.logo-css{
    height: 50px;
    width: 50px;

}

@media screen and (max-width:640px){
    .row p {
            font-size: 1rem;
            width: 12rem;
        }
}
