.main-about{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    border: 1px solid yellow;
}

.main-about-left{
    font-size: 3em;
    border: 1px solid red;
    display: flex;

}

.about-underline{
    border-bottom: 3px solid #059DC0;
}

.content1 {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 2rem;
}


.content1 p{
    font-size: 1.4rem;
    font-weight: 300;
}

.mask1 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.mask1::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.9;
}

.into-img1 {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.Img2 .content1 p {
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;
}

.Img2 {
    position: relative;
}

@media screen and (max-width:640px) {
    .Img2 .content1 p{
        font-size: 1rem;
    }

    .content1{
        font-size: 1.7rem;
    }

    .Img1 .content p {
        font-size: 1.4rem;
    }

}